---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/search?api_key=<USDA_API_KEY>&ingredients=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"foodSearchCriteria":{"ingredients":"sweet potatoes","pageNumber":1,"requireAllWords":false},"totalHits":26412,"currentPage":1,"totalPages":529,"foods":[{"fdcId":574779,"description":"REAL
        VEGETABLE CHIPS","dataType":"Branded","gtinUpc":"728229015529","publishedDate":"2019-04-01","brandOwner":"The
        Hain Celestial Group, Inc.","ingredients":"A BLEND OF SWEET POTATOES (SWEET
        POTATO, PURPLE SWEET POTATO, BATATA), AVOCADO OIL, SEA SALT.","allHighlightFields":"<b>Ingredients</b>:
        A BLEND OF <em>SWEET</em> <em>POTATOES</em> (<em>SWEET</em> <em>POTATO</em>,
        PURPLE <em>SWEET</em> <em>POTATO</em>, BATATA), AVOCADO OIL, SEA SALT.","score":-742.13696},{"fdcId":402489,"description":"SEASONED
        VEGETABLE POWDER","dataType":"Branded","gtinUpc":"8809069966485","publishedDate":"2019-04-01","brandOwner":"WANG","ingredients":"VEGETABLE
        FLAKE: {PURPLE SWEET POTATO FLAKE (PURPLE SWEET POTATO, SWEET POTATO STARCH),
        POTATO FLAKE (POTATO, SWEET POTATO STARCH), CARROT FLAKE (CARROT), SWEET PUMPKIN
        FLAKE(SWEET PUMPKIN)}, SMOKED SALMON (SALMON, SALT), DRIED SEAWEED, BROWN
        RICE OIL, SESAME, ORGANIC SUGAR, SALT.","allHighlightFields":"<b>Ingredients</b>:
        VEGETABLE FLAKE: {PURPLE <em>SWEET</em> <em>POTATO</em> FLAKE (PURPLE <em>SWEET</em>
        <em>POTATO</em>, <em>SWEET</em> <em>POTATO</em> STARCH), <em>POTAT[...]
